/* base */

@import'./style/base/reset.css';
@import'./style/base/layout.css';
@import'./style/base/variables.css';

/* 3rd-party */

/* components */

@import'./style/components/button.css';
@import'./style/components/clock.css';
@import'./style/components/progress-bar.css';
@import'./style/components/form.css';
@import'./style/components/mouse.css';


/* custom style */

.hero > .row-short{
    text-align: center;
}

.hero .logo{
    margin: 40px 0 0;

}

.hero .main-title{
    font-size: 40px;
    text-transform: uppercase;


}

.hero .main-description{

    color: #777;
    font-size: 18px;
    margin: 20px 0 40px;

}

.hero .clock{
    margin-bottom: 45px;
}