:root{

    --primary-color: rgb(62, 7, 140);
    --secondary-color: rgba(255, 14, 14, 0.757);
    --ux-design: 90%;
    --widht-loading-bar1: 90%;
    --widht-loading-bar2: 70%;
    --widht-loading-bar3: 30%;
    
}