.btn{
    display: inline-block;
    padding: 0.8em 1em;
    line-height: 1em;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-shadow: 20px gray;
    border-radius: 3px;
    border: 20px rgb(0, 0, 0);
    box-shadow: 
    5px 5px 10px rgb(17, 8, 97),
    -5px -5px 10px rgba(70, 70, 70, 0.12);  
    
}
.btn:hover{

    
    box-shadow: 
    5px 5px 10px rgb(229, 42, 229),
    -10px -10px 20px rgba(70, 70, 70, 0.12); 
    

}

