.btn{
    display: inline-block;
    width: auto;
    height: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 20px;
    font-weight: bold;
    background-color: var(--primary-color);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-shadow: 20px gray;
    border-radius: 3px;
    border: 20px rgb(0, 0, 0);
    box-shadow: 
    5px 5px 10px rgb(17, 8, 97),
    -5px -5px 10px rgba(70, 70, 70, 0.12);  
    
}
.btn:hover{

    
    border-radius: 3px;
    box-shadow: 
    5px 5px 10px rgb(229, 42, 229),
    -10px -10px 20px rgba(70, 70, 70, 0.12); 
    

}

