

.hero .ul {
    display: inline-block;
    width: 100%;
    color: aliceblue;    
    padding: 5px 0 20px 0;

}

/* .hero .clock > .time {
    width: 25%;
    float: left;
    text-align: center;

}

.clock > .time > .value{
    display: inline-block;
    width: 100%;
    font-size: 60px;
    font-weight: bold;

}

.clock > .time > .title{
    display: inline-block;
    width: 100%;    
    font-size: 30px;    
    font-family: Gotic;


}  */



/* jss */



    
  
  .li {
    display: inline-block;
    font-size: 15px;
    list-style-type: none;
    padding: 40px;
    text-transform: uppercase;
    font-family: skaicius;
    width: 25%;
    float: left;
    text-align: center;
  }
  
  li span {
    display: block;
    font-size: 80px;
  }
  
  
  @media all and (max-width: 700px) {
    
    .li {
      font-size: 10px;
      width: 33%;
      padding: 20px;
    }
    .li:first-child{
      width: 100%;     
      font-size: 20px;
      padding-bottom: 0;
    }
    
    li span {
      font-size: 50px;
    }


  }

