
  
  .progress-bar {
    display: inline-block;
    width: 100%;
    margin: 20px auto; 
    border-radius: 4px;
  }
  
  .Loading {
    display: inline-block ;
    width: 100%;
    height: 10px;
    background: #d6d3d3;
    border-radius: 4px;
    overflow: hidden;
  }

  .loading-bar1{
    width: 90%;
    height: 100%;
    background-color: #4102b5;
    animation: laudas1 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes laudas1 {

    0% {
      width: 0;
      background: #a28089;
    }
    
    
    100% {
      
      width: var(--widht-loading-bar1);
      background: #4102b5;
      
    }
  }
  
  .loading-bar2{
    width: 90%;
    height: 100%;
    background-color: #4102b5;
    animation: laudas2 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes laudas2 {

    0% {
      width: 0;
      background: #a28089;
    }
    
    
    100% {
      
      width: var(--widht-loading-bar2);
      background: #4102b5;
      
    }
  }

  .loading-bar3{
    width: 90%;
    height: 100%;
    background-color: #4102b5;
    animation: laudas3 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes laudas3 {

    0% {
      width: 0;
      background: #a28089;
    }
    
    
    100% {
      
      width: var(--widht-loading-bar3);
      background: #4102b5;
      
    }
  }
  .title{
      margin-bottom: 10px;
      float: left;
      width: 50%;
  }
  .value{
      float: right;
  }

  
  .animacija{

    padding: 0.8em 1em;
    line-height: 1em;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-shadow: 20px gray;
    border-radius: 3px;
    border: 20px rgb(0, 0, 0); 
    box-shadow: 
    5px 5px 10px rgb(17, 8, 97),
    -5px -5px 20px rgba(70, 70, 70, 0.12);  

    animation: load1 5s infinite ;
  }
  
  @keyframes load1 {
    0% {
      width: 50%;
      background: transparent;
      border-radius: 3px;
      color: black;
    }
    
    
    50% {
      
      width: 90%;
      background: #4102b5;
      border-radius: 30px;
      color: aliceblue;
      
    }
    100% {
      width: 50%;
      background: transparent;
      border-radius: 3px;
      color: black;
    }
  }